# Ignore everything by default
*

# But include these exceptions
!*/
!*.py
!*.js
!*.json
!*.html
!*.css
!Procfile
!.gitignore
!requirements.txt

# Now ignore specific junk
__pycache__/
*.pyc
env/
.venv/
object_removal_env/

# Ignore videos and heavy assets
*.mp4
*.avi
*.mov
*.mkv
models/
*.pth
*.pt
*.ckpt

# Jupyter checkpoints and IDE files
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
