.heading-box h1{
  display: flex;
  justify-content: center;
  font-family:serif;
  font-weight: 700;
  font-size: 6.51vw;
  font-weight: bold;
  background-size: 400% 400%;
  background: linear-gradient(90deg, #ff0057, #14dad3, #ff00f7, #ff006f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-box{
  padding-top: 13.7vh;
  padding-bottom: 13.7vh;
}


.container1{
    display: flex-row;
    justify-content: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-left: 21.48vw;
    padding-right: 21.48vw;
    color: rgb(241, 250, 195)
}

#hye{
    font-size: 2.6vw;
}

.container2{
    display: flex;

}



.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 54.8vh;
    margin-left: 9.76vw;
    margin-top: 6.84vh;
}

.image1,
.image2,
.image3 {
  transition: all 0.7s ease;
  border-radius: 30px;
  position: absolute;
}

#image-stacked-1{
    padding-top: 16.44vh;
    padding-bottom: 20.54vh;
}

.image2 {
  width: 19.53vw;
  z-index: 3;
}

.image1 {
  width: 14.32vw;
  z-index: 2;
  transform: translateX(55%);
}

.image3 {
  width: 14.32vw;
  z-index: 2;
  transform: translateX(-55%);
}


.container3:hover .image1 {
  width: 16.92vw;
  transform: translateX(75%);
}

.container3:hover .image3 {
  width: 16.92vw;
  transform: translateX(-75%);
}

.textcontainer3{
  padding: 5.48vh 3.26vw 2.74vh 3.26vw;
    width: 25.39vw;
    margin-left: 11.07vw;
    background-color: rgba(95, 158, 160, 0.1);
    border-radius: 5%;
    box-shadow: 0 0.54vh 20px rgba(0, 0, 0, 0.1);
}

.textcontainer3 h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.3em;
}

.textcontainer3 p{
  padding-top: 1.37vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
}

.textcontainer3 button{
  margin-left: 6.51vw;
  margin-top: 2.05vh;
  border-radius: 1.95vw;
  padding: 0.41vh 0.52vw;
  color: azure;
  font-size: 0.9em;
  border-color: rgb(142, 144, 242);
  background-color: rgb(142, 144, 242);
  height: 6.16vh;
  transition: 0.3s ease;
}

.textcontainer3 button:hover{
  box-shadow: 0 0.54vh 20px rgba(142, 144, 242, 0.6);
}

.container4{
    display: flex;
    flex-direction: row-reverse;
}

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 54.8vh;
    margin-right: 9.76vw;
    margin-top: 6.85vh;
}

.video1,
.video2,
.video3 {
  transition: all 0.7s ease;
  border-radius: 30px;
  position: absolute;
}

#image-stacked-2{
    padding-top: 16.44vh;
    padding-bottom: 20.55vh;
}

.video2 {
  width: 19.53vw;
  z-index: 3;
}

.video1 {
  width: 14.32vw;
  z-index: 2;
  transform: translateX(55%);
}

.video3 {
  width: 14.32vw;
  z-index: 2;
  transform: translateX(-55%);
}


.container5:hover .video1 {
  width: 16.93vw;
  transform: translateX(75%);
}

.container5:hover .video3 {
  width: 16.93vw;
  transform: translateX(-75%);
}

.textcontainer5{
  padding: 5.48vh 3.25vw 2.74vh 3.25vw;
    width: 25.39vw;
    margin-right: 11.07vw;
    background-color: rgba(95, 158, 160, 0.1);
    border-radius: 5%;
    box-shadow: 0 0.55vh 20px rgba(0, 0, 0, 0.1);
}

.textcontainer5 h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.3em;
}

.textcontainer5 p{
  padding-top: 1.37vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
}

.textcontainer5 button{
  margin-right: 6.51vw;
  margin-top: 6.85vh;
  border-radius: 1.95vw;
  padding: 0.41vh 0.52vw;
  color: azure;
  font-size: 0.9em;
  border-color: rgb(142, 144, 242);
  background-color: rgb(142, 144, 242);
  height: 6.16vh;
  transition: 0.3s ease;
}

.textcontainer5 button:hover{
  box-shadow: 0 0.55vh 20px rgba(142, 144, 242, 0.6);
}
