.navbar{
    display: flex;
    flex-direction: row;
}

.tat {
  display: flex;
  align-items: center;
}

navbar-toggler {
  display: block !important;
}

.tat a {
    width:100%;
    height: 7.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(144, 8, 67);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing:0.1em;
}

.tat a:hover{
    padding: 0.5vh 0.6vw 0.5vh 0.6vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(75, 137, 129);
    border-radius: 10vw;
    letter-spacing:0.2em;
    color: rgb(234, 249, 187);
    filter: drop-shadow(0 0 10px rgb(147, 206, 9)) drop-shadow(0 0 30px rgb(147, 206, 9));
}

ul{
    display: flex;
    margin-right: 1vw;
}

.nav-item-1{
    display: flex;
    align-self: center;
}

.nav-item-2{
    display: flex;
    align-self: center;
}

.nav-item-3{
    display: flex;
    align-self: center;
}

.navbar-nav li a:hover{
    background-color: rgb(47, 174, 157);
    filter: drop-shadow(0 0 10px rgb(21, 242, 106)) drop-shadow(0 0 30px rgb(21, 242, 106));
    border-radius: 0.5vw;
    transition: 0.35s;
}

.tat span{
    font-size: 1.7em;
    margin-left: 4%;
}

#hello{
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    color: rgb(72, 37, 44);
}

#hello:hover{
    color: #edf597;
}

.nav-item-2 {
  position: relative;
}

.nav-item-2:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
  color: #333;
  font-family: 'Georgia', serif;
  font-size: 1rem;
}

.dropdown-menu .dropdown-item:hover{
    background-color: rgba(149, 91, 91, 0.664);
    filter: none;
}

.dropdown-menu {
  position: absolute;
  background-color: #f4f8e4;
  border-radius: 0.5rem;
  z-index: 2000;
  min-width: 200px;
}
